/**
COMMON VARIABLES
**/
$rem: 16;
$default_font_size: 12;
$default_line_height: 17;

/*General*/
@import '../../vendor/bower_components/normalize-scss/normalize';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/mixins';

@import 'partials/menu';
@import 'partials/menuLink';
@import 'partials/photoBig';
@import 'partials/photoSmall';
@import 'partials/line';

body{
	font-family: 'Gentium Book Basic', serif;
}

.page{
	position: relative;
}

footer{
	text-align: center;
	@include flex-padding(40,0,80,0);
	background-color: $light-pink;
	color: $white;

	p{
		margin: 0px;

		&.subtitle{
			@include font-dimensions(30,48);
		}
	}

	p.title{
		@include font-dimensions(55,60);
	}
}

header{
	background-image: url('../assets/imgs/test.jpg');
	background-position: 50% 50%;
	height: 100vh;
	min-height: 700px;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.title{
	font-family: 'franchise_freebold';
}

.email{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	color: $white;
	border: solid 1px;
	@include flex-margin(20,0,0,0);
	@include flex-padding(10,20,10,20);
	display: inline-block;

	&:hover{
		background-color: $white;
		color: $light-pink;
	}
}

.studio{
	@include flex-padding(0,160,0,160);
	position: relative;
	overflow: hidden;

	.lineBG{
		background-color: $light-pink;
	}

	.line.lineLeft, .line.lineRight{
		padding: 0px;
	}

	.intro{
		left: 50%;
		display: inline-block;
		position: relative;
		@include translate(-50%,0);
		@include flex-margin(140,0,140,0);
		@include flex-width(700);
		@include font-dimensions(33,45);
	}

	.desc{
		@include flex-margin(100,0,100,0);
		@include font-dimensions(20,28);
		@include flex-width(700);
	}
}

.team{
	background-color: $lighter-pink;
	@include flex-padding(60,130,100,130);
	position: relative;
	overflow: hidden;

	.section_title{
		text-align: center;
		font-family: 'franchise_freebold';
		@include font-dimensions(70,90);
		@include flex-margin(40,0,20,0);
		color: $white;
	}

	.section_subtitle{
		@include flex-margin(15,30,100,0);
		@include font-dimensions(20,28);
		@include flex-width(700);
		text-align: right;
		float: right;
		color: $white;
	}

	.clear{
		@include flex-margin(0,0,50,0);
	}

	.section_photos{
		@include flex-margin(0,30,0,30);
	}
}

.map{
	background-image: url('../assets/imgs/map.png');
	background-position: 50% 50%;
	width: 100%;
	min-height: 400px;
	background-size: cover;
	position: relative;
	overflow: hidden;

	.lineBG{
		background-color: $light-pink;
	}

	.line.lineLeft, .line.lineRight{
		padding: 0px;
	}
}

