/**
  COMMON VARIABLES
**/
$rem: 16;
$default_font_size: 12;
$default_line_height: 17;

/*General*/
@import '../../vendor/bower_components/normalize-scss/normalize';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/mixins';

body{
	font-family: 'Gentium Book Basic', serif;
}

footer{
	text-align: center;
	@include flex-padding(40,0,40,0);
	background-color: $green;

	p{
		margin: 0px;

		&.subtitle{
			@include font-dimensions(30,48);
		}
	}

	p.title{
		@include font-dimensions(55,60);
	}
}

.title{
		font-family: 'franchise_freebold';
	}

.email{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	color: $black;
	border: solid 1px;
	@include flex-margin(20,0,0,0);
	@include flex-padding(10,20,10,20);
	display: inline-block;

	&:hover{
		background-color: $black;
		color: $green;
	}
}

