/**
COMMON VARIABLES
**/
$rem: 16;
$default_font_size: 12;
$default_line_height: 17;

/*General*/
@import '../../vendor/bower_components/normalize-scss/normalize';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/mixins';

@import 'partials/menu';
@import 'partials/menuLink';
@import 'partials/photoBig';
@import 'partials/photoSmall';
@import 'partials/line';

body{
	font-family: 'Gentium Book Basic', serif;
}

.page{
	position: relative;
}

footer{
	text-align: center;
	@include flex-padding(40,0,80,0);
	background-color: $light-pink;
	color: $white;

	p{
		margin: 0px;

		&.subtitle{
			@include font-dimensions(22,28);
			@include flex-margin(0,0,20,0);
		}
	}

	p.title{
		@include font-dimensions(60,70);
	}
	.divider{
		@include flex-padding(0,0,20,0);
    	border-bottom: solid 2px;
    	@include flex-margin(0,0,20,0);
    	display: inline-block;
        @include flex-width(80);
        color: $dark-pink;
	}

	a:first-child{
		@include flex-padding(0,8,0,0);
	}

	.important{
		@include font-dimensions(20,30);
			color: $white;
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: 0.1rem;
			font-weight: 800;
			// border-bottom: solid 3px $white;
	}
}

header{
	background-image: url('../assets/imgs/test_5.jpg');
	background-position: 50% 50%;
	height: 100vh;
	background-size: cover;
	position: relative;
	overflow: hidden;

	.logo{
		img{
			width: 100%;
		}
		width: 60%;
		@include translate(-50%,-50%);
		left: 50%;
		position: absolute;
		top: 50%;
	}

	.scroll{
		left: 50%;
		position: absolute;
		@include translate(-50%,0);
		@include flex-bottom(20);
		@include font-dimensions(11,11);
		color: $white;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;

		p{
			margin: 0px;
		}
	}

	.arrow{
		text-align: center;
		fill: $pink;
	}
}

.title{
	font-family: 'franchise_freebold';
}

.button{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	color: $white;
	border: solid 1px;
	@include flex-padding(10,20,10,20);
	display: inline-block;
	@include transition(background-color, 0.3s, ease-in-out);
	cursor: pointer;

	&:hover{
		background-color: $white;
		color: $pink;
		border: solid 1px $white;
	}

	footer &{
		color: $white;
		@include flex-margin(20,0,0,0);
		&:hover{
			background-color: $white;
			color: $light-pink;
		}
	}

	header &{
		left: 50%;
		@include translate(-50%,0);
		position: relative;
		@include flex-margin(20,0,0,0);
	}
}

.studio{
	@include flex-padding(0,160,0,160);
	position: relative;
	overflow: hidden;

	.lineBG{
		background-color: $light-pink;
	}

	.line.lineLeft, .line.lineRight{
		padding: 0px;
	}

	.intro{
		left: 50%;
		display: inline-block;
		position: relative;
		@include translate(-50%,0);
		@include flex-margin(140,0,140,0);
		@include flex-width(700);
		@include font-dimensions(33,45);
	}

	.desc{
		@include flex-margin(100,0,100,0);
		@include font-dimensions(20,28);
		@include flex-width(700);
	}
}

.team{
	background-color: $lighter-pink;
	@include flex-padding(60,130,160,130);
	position: relative;
	overflow: hidden;

	.pattern{
		width: 100%;
		height: 100%;
		background: url('../assets/imgs/pattern.png') repeat;
		position: absolute;
    	top: 0px;
    	left: 0px;
    	opacity: 0.5;
    	z-index:0;
	}
	.section_title{
		text-align: center;
		font-family: 'franchise_freebold';
		@include font-dimensions(90,90);
		@include flex-margin(40,0,20,0);
		color: $white;
		    z-index: 4;
    position: relative;

    	// span{
    	// 	border-bottom: solid 5px $light-pink;
    	// }
	}

	.section_subtitle{
		@include flex-margin(15,30,100,0);
		@include font-dimensions(20,28);
		@include flex-width(700);
		text-align: right;
		float: right;
		color: $white;
		    z-index: 4;
    position: relative;
	}

	.clear{
		@include flex-margin(0,0,50,0);
	}

	.section_photos{
		@include flex-margin(0,30,0,30);
	}
}

.map{
	background-image: url('../assets/imgs/map.png');
	background-position: 50% 50%;
	width: 100%;
	display: block;
	min-height: 400px;
	background-size: cover;
	position: relative;
	overflow: hidden;

	.lineBG{
		background-color: $light-pink;
	}

	.line.lineLeft, .line.lineRight{
		padding: 0px;
	}

	.address{
		display: inline-block;
    	position: absolute;
    	left: 50%;
    	@include flex-padding(10,10,10,10);
    	text-align: left;
    	background-color: rgba(0, 0, 0, 0.75);
    	@include flex-top(96);
    	@include flex-margin(0,0,0,18);
    	letter-spacing: 0.15rem;
    	color: $white;
    	@include font-dimensions(13,18);

	    .address_cont{
	    	padding: 20px;
	    	border: solid 1px $pink;
	    }

	    p{
	    	margin: 0px;
	    	font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			font-weight: 800;
	    }
	}
	.pin{
		position: absolute;
		z-index: 1;
    	left: 50%;
    	top: 50%;
    	@include flex-margin(-20,0,0,0);
	}
}

.promotions{
	@include flex-padding(0,70,0,70);
	position: relative;

	.promotions_inner{
		overflow: hidden;
		position: relative;
		@include flex-padding(0,0,70,0);
	}

	.title{
		margin: 0px;
		@include flex-padding(90,0,0,0);
		text-align: center;
		display: inline-block;
		@include font-dimensions(86,75);
		@include flex-margin(0,0,70,0);
		border-bottom: solid 5px $pink;
		position: relative;
		left: 50%;
		@include translate(-50%,0);
	}

	.lineBG{
		background-color: $light-pink;
	}

	.line.lineLeft, .line.lineRight{
		padding: 0px;
	}

	.promotion{
		position: relative;
		float: left;
		width: 33%;
		@include flex-padding(0,0,0,20);
		@include box-sizing(border-box);

		.promoTitle{
			@include font-dimensions(30,35);
			font-weight: 800;
		}

		.date{
			margin: 0px;
			@include font-dimensions(12,23);
			background-color: $light-pink;
			color: $white;
	    	font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			display: inline-block;
			@include flex-padding(0,7,0,7);
		}
	}
}

