.image_big{
		position: relative;
		left: 50%;
		@include translate(-65%,0);
		display: inline-block;

		.image_big_container{
			position: relative;
			top: 0px;
		}
		
		.image_image{
			@include flex-width(700);
			@include flex-height(400);
			overflow: hidden;
			position: relative;
			// border-radius: 9px 0px 9px 0px;
    		// border: solid 1px transparent;
    		// border-bottom: solid 4px $black;
    		// border-right: solid 4px $black;
    		background-position: 50% 0%;
    		background-size: cover;

			.team &{
				// border-right: solid 4px $white;
				// border-bottom: solid 4px $white;
				@include flex-width(660);
				@include flex-height(360);
			}
		}

		.image_info{
			position: absolute;
			@include flex-left(701);
			@include flex-bottom(100);
			border-bottom: solid 1px;
			
			.team &{
				// color: $white;
				@include flex-left(661);
			}

			.header{
				@include flex-margin(20,0,20,30);
				font-family: 'franchise_freebold';
				@include font-dimensions(25,25);
				letter-spacing: 0.12rem;
    text-transform: uppercase;
			}

			.text{
				@include flex-margin(0,0,0,30);
				@include font-dimensions(18,25);
			}
		}
	}