.image_small{
	position: relative;
    width: 33%;
    float: left;
    @include flex-padding(20,20,20,20);
    box-sizing: border-box;

    &:first-child{
			display: none;
		}
		
    .image_image{
			width: 100%;
			@include flex-height(320);
			overflow: hidden;
			position: relative;
    		background-position: 50% 0%;
    		background-size: cover;
    		background-repeat: no-repeat;
		}

	.image_info{
			// color: $white;
			position: absolute;
			@include flex-top(341);
			border-right: solid 1px;
    		@include flex-right(60);
    		text-align: right;

    		.header{
				@include flex-margin(5,20,0,0);
				font-family: 'franchise_freebold';
				@include font-dimensions(21,21);
				letter-spacing: 0.12rem;
    			text-transform: uppercase;
			}

			.text{
				@include flex-margin(10,20,0,0);
				@include font-dimensions(16,22);
			}
		}
}